/*@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(../src/images/bg.png);
}

.App {
  width: 53%;
  margin: auto;
}

.header {
  background-color: #222;
  height: 40px;
  padding: 12px;
  padding-bottom: 40px;
  color: white;
  margin-bottom: 5px;
  border-radius: 15px;
}

.dashboard {
  background-color: rgba(255, 255, 255, .5);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.history {
  background-color: rgba(211, 211, 211, .6);
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.login {
  border-width: 2px;
  border-radius: 15px;
  border-color: black;
  border-style: solid;
  box-sizing: border-box;
  margin-bottom: 40px;
  width: 20%;
}

.signup {
  border-width: 2px;
  border-radius: 15px;
  border-color: black;
  border-style: solid;
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 20%;
}

.pastWorkout {
  background-color: rgba(255, 255, 255, .8);
  border-radius: 10px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  margin-bottom: 5px;
  text-align: left;
  padding-left: 10px;
}

.btn {
  background-color: #000000;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px;
  text-decoration: none;
  float: right;
  margin-top: 12px;
}

.btn:hover {
  background-color: #386994;
  text-decoration: none;
  float: right;
}
.dateAndTime {
	font-weight: bold;
	color: #386994;
}

.start-button {
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    overflow: hidden;
    background: #4f8abd;
    box-shadow: 0 0 3px gray;
    margin: auto;
}
.start-button:hover {
    background: #386994;
}

.start-button img {
    display: block;
    width: 76%;
    padding: 12%;
    height: auto;
}
  

