/*@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(../images/bg.png);
}

.App {
  width: 60%;
  margin: auto;
}

.header {
  background-color: #3b8fb5;
  height: 40px;
  padding: 12px;
  padding-bottom: 40px;
  color: white;
  margin-bottom: 5px;
  border-radius: 15px;
}

.dashboard, .workout, .summary, .countdown{
  background-color: rgba(255, 255, 255, .5);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.workout {
  padding-top: 35px;
}

.workout img {
  max-width: 85%
}

.history {
  background-color: rgba(211, 211, 211, .6);
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 50px;
  padding-bottom: 30px;
}

.login {
  border-width: 2px;
  border-radius: 15px;
  border-color: black;
  border-style: solid;
  box-sizing: border-box;
  margin-bottom: 40px;
  width: 20%;
}

.signup {
  border-width: 2px;
  border-radius: 15px;
  border-color: black;
  border-style: solid;
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 20%;
}

.pastWorkout {
  background-color: rgba(255, 255, 255, .8);
  border-radius: 10px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  margin-bottom: 5px;
  text-align: left;
  padding-left: 10px;
}

.blackButton {
  background-color: #000000;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px;
  text-decoration: none;
  float: right;
  margin-top: 12px;
}

.blackButtons:hover {
  background-color: #386994;
  text-decoration: none;
  float: right;
}

.dateAndTime {
    font-weight: bold;
    color: #386994;
}

.startButton {
  box-shadow: 10px 10px 5px grey;
  width: 25%;
  height: 0;
  padding-bottom: 25%;
  border-radius: 50%;
  border: 5px solid #f5f5f5;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 35px gray;
  margin: auto;
}

.startButton:hover {
  background-image: url(../images/pizzagif.gif);
}

.startButton img {
  display: block;
  width: 76%;
  padding: 12%;
  height: auto;
}

.warmupTitle, .workoutTitle, .cooldownTitle {
  color: gray;
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  padding-bottom: 12px;
  margin-right: 25px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.activeTitle {
  color: black;
  background-color: rgba(211, 211, 211, .6);
}

.exerciseName {
  color: #3b8fb5;
  font-weight: bold;
  font-size: 35px;
}

.exerciseImage {
  box-shadow: 10px 10px 5px grey;
}

.exerciseDescription {
  background-color: rgba(211, 211, 211, .6);
  border-radius: 15px;
  padding: 45px 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.countdownCircle {
  background-image: url(../images/pizzagif.gif);
  width: 25%;
  height: 0;
  padding-bottom: 25%;
  border-radius: 50%;
  border: 5px solid #f5f5f5;
  overflow: hidden;
  box-shadow: 0 0 35px gray;
  margin: auto;
  font-weight: bold;
  color: #000;
  display: inline-block;
  margin-bottom: 20px;
}

.countdownNumber {
  font-size: 2.5em;
/*  position: relative;
  top: 50%;
  transform: translateY(19%);
  display: block;*/

}

.timer {
/*  width: 25%;
  height: 0;*/
  font-weight: bold;
  font-size: 40px;
  color: #000;
  display: inline-block;
 }

.timer:hover {
  background-image: url(../images/pizzagif.gif);
}

.summaryCongrats {
  font-weight: bold;
  font-size: 45px;
  color: #3b8fb5;
}

.summaryTime {
  font-weight: bold;
  font-size: 30px;
  color: #000;
}

.summaryWorkoutType {
  font-weight: bold;
  font-size: 30px;
  color: #000;
}

.summaryExercisesCompleted {
  font-weight: bold;
  font-size: 30px;
  color: #000;
}



